* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


    body {
        background: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 20px 100px 20px 0px;

    }
    .Post {
    border: 2px solid red;
    background-color: whitesmoke;
    width: 500px;
    height: 650px;
    margin: 0px 30px 0px 30px;
    overflow: hidden;
   }
    
    img {
        height: 300px;
        width: 500px;
     
    }

 
#nav {
    background: whitesmoke;
    width: 500px;
    overflow: hidden;
    border-style: ridge;
}
#titulo1 {
    float: left;
    padding: 10px;
    margin: 5px;
    width: 80px;
    background: none;
    font-size: 8px;
    border: 2px solid none;
}
.icono5 {
    float: left;
    padding: 10px;
    margin: 5px;
    width: 35px;
    background: none;
    font-size: 30px;
    border: 2px solid none;
}
.iconoPuntos {
    float: right;
    padding: 10px;
    margin: 10px;
    width: 20px;
    background: none;
    font-size: 25px;
    border: 2px solid none;
}
.footer {
    border: 2px solid none;
    background: whitesmoke;
    width: 500px;
    overflow: hidden;
    height: 60px;

}
.heart{
    float: left;
    padding: 10px;
    margin: 5px;
    width: 35px;
    background: none;
    font-size: 25px;
    border: 2px solid none;
}
.comment{
    float: left;
    padding: 10px;
    margin: 5px;
    width: 35px;
    background: none;
    font-size: 25px;
    border: 2px solid none;
}
.plane {
    float: left;
    padding: 10px;
    margin: 5px;
    width: 35px;
    background: none;
    font-size: 25px;
    border: 2px solid none;
}

.mark {
    float: right;
    padding: 10px;
    margin: 5px;
    width: 35px;
    background: none;
    font-size: 25px;
    border: 2px solid none;
}

.piedepagina1 {
    padding: 20px 5px 20px 5px;
    width: 480px;
    background: whitesmoke;
    margin-left: 10px;
    margin-right: 10px;
    

}

.piedepagina2 {
    padding: 10px 3px 10px 3px;
    width: 460px;
    background: whitesmoke;
    text-align: justify;
    margin-left: 5px;
    margin-right: 5px;

}
